<div class="com-cinema">
	<ul class="com-cinema-list">
		<li ng-repeat="item in cinemaList" class="com-cinema-item">
			<a ng-href="{{item.url}}" target="_bank"><img height="100%" ng-src="{{item.image}}"><div class="com-cinema-item-light"></div></a>		
		</li>		
	</ul>
	<div ng-show="true" class="com-cinema-arrow com-cinema-arrow-left" ng-click="preCinema()">
			<span class="glyphicon glyphicon-menu-left"></span>
	</div>
	<div  ng-show="true" class="com-cinema-arrow com-cinema-arrow-right" ng-click="nextCinema()">
		<span class="glyphicon glyphicon-menu-right"></span>
	</div>
	<mod-footer></mod-footer>
</div>

