<div class="container gallery">

<div class="gallery-thumnails" ng-class="slideShowEnable?'gallery-thumnail-hide':''">
	<div class="col-xs-6 col-sm-2 gallery-thumnail-item" ng-repeat="item in gallery" ng-click="slideShow($index)" >
		<img ng-src="{{item.thumnail}}">
	</div>
</div>
<div class="gallery-slideShow" ng-show="slideShowEnable">
	<div class="gallery-slideShow-imageBox">	
		<div class="gallery-slideShow-fullImage in"></div>
		<div class="gallery-slideShow-fullImage out"></div>
	</div>
	<img src="images/ajax-loader.gif" class="gallery-slideShow-loading hide">
	<div class="gallery-slideShow-switch" ng-click="toggleAutoSlide()">
			Slideshow.{{autoSlide?"OFF":"ON"}}
	</div>
	<div class="gallery-slideShow-close" ng-click="slideHide()">
		<span class="glyphicon glyphicon-remove" ></span>
		Close
	</div>
	<div  class="gallery-slideShow-arrow gallery-slideShow-arrow-left" ng-click="preFullImage()">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</div>
	<div  class="gallery-slideShow-arrow gallery-slideShow-arrow-right" ng-click="nextFullImage()">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</div>
	<div class="right-bottom">
		<div class="right-bottom-actions">
			<span class="glyphicon glyphicon-fullscreen"></span>
			<span class="glyphicon glyphicon-volume-off"></span>
		</div>
		<div class="copyright">Website Design by Ping | Copyright © iwenphotography.com All rights reserved.</div>
	</div>
	
</div>
</div>
