* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	font-family:sans-serif;
	color:#222;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
**** loading ******
*/
.loading{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#fff;
	z-index:100;
}
.landing-up{
	position:absolute;
	width:100%;
	height:50%;
	top:0;
	
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(224, 224, 224)),
	color-stop(1, rgb(255, 255, 255))
);
background-image: -o-linear-gradient(top, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -moz-linear-gradient(top, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -webkit-linear-gradient(top, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -ms-linear-gradient(top, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: linear-gradient(to top, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
}
.logo{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:40px;
	z-index:110;
}
.loading-bar{
	position:absolute;
	width:100%;
	height:2px;
	text-align:center;
	bottom:0;
	background-color:#fff;
	z-index:110;
}
.loading-bar-progress{
	position:relative;
	height:100%;
	background-color:#ccc;
	width:40%;
}
.loading-bar-num{
	position:absolute;
	left:50%;
	right:50%;
	color:#B5B5B5;
	margin-top:12px;
}
.landing-down{
	position:absolute;
	width:100%;
	height:50%;
	bottom:0;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(224, 224, 224)),
	color-stop(1, rgb(255, 255, 255))
);
background-image: -o-linear-gradient(bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
background-image: linear-gradient(to bottom, rgb(224, 224, 224) 0%, rgb(255, 255, 255) 100%);
}
.right-bottom{
	position:absolute;
	bottom:10px;
	right:15px;
	text-align:right;
}
.copyright{
	font-size:9px;
}
.right-bottom-actions{
	font-size:15px;
}
.right-bottom-actions>span{
	margin-right:8px;
}
/*
**** top menu ******
*/
.header{
	width:100%;
}
.top-menu{
	margin:0 auto;
	padding:0;
	width:100%;
	list-style: none;
	text-align:center;
	background-color:#fff;
}
.top-menu-item{
	position:relative;
	display: inline-block;
	padding:0 5px;
	cursor:pointer;
	vertical-align:middle;
}
.top-menu-item-text{
	display:block;
	position:relative;
	font-size:11px;
	line-height:25px;
	text-decoration: none;
	color:#6F6F6F;
}
.top-menu-item-logo{
	display:block;
	position:relative;
	font-size:30px;
	line-height:50px;
}
.top-menu-item-underline{
	position:absolute;
	bottom:0;
	left:0;
	height:1px;
	width:0;
	background-color:#222;
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
.top-menu-item-vline{
	position:relative;
	display: inline-block;
	height:14px;
	width:1px;
	vertical-align:middle;
	background-color:#ccc;
}
.top-menu-item:hover >.top-menu-item-underline,
.top-menu-item.active >.top-menu-item-underline{
	width:100%;
}
.top-menu-item:hover >.top-menu-item-text,
.top-menu-item.active >.top-menu-item-text{
	color:#222;
}
/*
**** home ******
*/
.com-home{
	position:absolute;
	width:100%;
	top:50px;
	bottom:0;
	background-color:#ccc;
}
.com-home-screen{
	position:absolute;
	width:100%;
	top:0;
	bottom:80px;
	background-color:#272727;
	
}
.com-home-bottom{
	position:absolute;
	width:100%;
	height:80px;
	bottom:0;
	background-color:#fff;
	color: #6F6F6F;
}
/*
**** about ******
*/
.com-about-photo{
	width:100%;
	text-align:center;
	margin:30px 0;
}
.com-about-details-en{
	width:100%;
	text-align:center;
	line-height:22px;
}
.com-about-details-zh{
	margin-top:50px;
	width:100%;
	text-align:center;
	line-height:22px;
}
/*
**** about ******
*/
.com-contact-info{
	width:70%;
	margin:0 15%;
	margin-top:100px;
}
.com-contact-info-section{
	width:50%;
	height:300px;
	display:inline-block;
	text-align:left;
}
.com-contact-info-title{
	font-size:20px;
	margin-bottom:30px;
}
.com-contact-info-item{
	font-size:15px;
	line-height:30px;
}

.com-about-info-image-wechat{
	display:inline-block;
	height:150px;
	width:150px;
	background-image:url('../images/微信-IWEN.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	margin:0 10px;
}
.com-about-info-image-weibo{
	display:inline-block;
	height:150px;
	width:150px;
	background-image:url('../images/微博-IWEN-2.5x2.5cm.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}
.com-contact-thx{
	text-align:center;
	width:100%;
}
/*
**** gallery ******
*/
.gallery-thumnail-hide{
	position:absolute;
	height:100%;
	width:100%;
	top: 0;
	left: 0;
	overflow:hidden;
}
.gallery-thumnail-item{
padding:0;
text-align:center;
border:1px solid rgba(255, 255, 255, 0.76);
overflow: hidden;
cursor:pointer;
}
.gallery-slideShow{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	color:rgba(255, 255, 255, 0.76);
	background-color:#fff;
}
.gallery-slideShow-switch{
	position:absolute;
	top:0;
	left:0;
	padding:4px;
	border-right:1px solid rgba(255, 255, 255, 0.76);
	border-bottom:1px solid rgba(255, 255, 255, 0.76);
}
.gallery-slideShow-close{
	position:absolute;
	top:0;
	right:0;
	padding:4px;
	border-left:1px solid rgba(255, 255, 255, 0.76);
	border-bottom:1px solid rgba(255, 255, 255, 0.76);
}
.gallery-slideShow-imageBox{
	position:relative;
	height:100%;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.gallery-slideShow-fullImage{
  position:absolute;
  top:0;
  left:0;
  min-width: 1024px;
  width: auto;
  height: 100%;
  opacity:0;
}
.gallery-slideShow-fullImage.in{
	-webkit-animation: fadeIn 2s 1 running 0 both;
	-moz-animation: fadeIn 2s 1 running 0 both;
	-o-animation: fadeIn 2s 1 running 0 both;
	animation:fadeIn 2s 1 running 0 both;
}
.gallery-slideShow-fullImage.out{
	-webkit-animation: fadeOut 2s 1 running 0 both;
	-moz-animation: fadeOut 2s 1 running 0 both;
	-o-animation: fadeOut 2s 1 running 0 both;
	animation:fadeOut 2s 1 running 0 both;
}
.gallery-slideShow-loading{
	position:absolute;
	top:50%;
	left:50%;
}
.gallery-slideShow-loading.hide{
	opacity:0;
}
.gallery-slideShow-arrow{
	position:absolute;
	top:45%;
	text-align:center;
	font-size:30px;	
	color:#E5E5E5;
}
.gallery-slideShow-arrow-left{	
	left:0px;
}
.gallery-slideShow-arrow-right{	
	right:0px;
}

@-webkit-keyframes fadeIn {
    0% {
      opacity:0.0;
      animation-timing-function: ease-out;
    }
	100% {
		opacity:1.0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
      opacity:1.0;
      animation-timing-function: ease-out;
    }
	100% {
		opacity:0.0;
    }
}

